@import 'https://fonts.googleapis.com/css?family=Abel';
@import 'https://fonts.googleapis.com/css?family=Dosis';
@import url('https://fonts.googleapis.com/css?family=Oxygen|Quicksand');

/*General*/
html, body
{
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	text-align: center;
  	min-width: 320px;
}

*
{
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 40px;
}

h2
{
	font-size: 33px;
}

h3
{
	font-size: 23px;
	padding: 15px;
}

a
{
	color: #91e3ff;
}

/*Nav*/
nav
{
	height: 65px;
	background-color: #595959;
	position: fixed;
	text-align: right;
	width: 100%;
	z-index: 2;
}

nav ul 
{
	font-size: 16px;
	text-transform: uppercase;
  	padding: 10px 0px 0px 0px;

}

nav ul li 
{
	display: inline-block;
	margin: 10px 45px 10px 10px;
	transition: 0.2s;
	font-size: 18px;
}

nav ul li:hover
{
	transform: rotate(7deg);
}

nav ul li a
{
	color: #fff;
	text-decoration: none;
}

#main
{
	width: 100%;
}

/*Sections*/
section
{
	width: 100%
	height: 100%;
}

section .wave
{
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(https://farm8.staticflickr.com/7898/47085590142_8cf6652f53_o.png);
	animation: animate 10s linear infinite;
}

section .wave:before
{
	content: "";
	width: 100%;
	height: 143px;
	background: url(https://farm8.staticflickr.com/7898/47085590142_8cf6652f53_o.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation: animate-reverse 10s linear infinite;

}

section .wave:after
{
	content: "";
	width: 100%;
	height: 143px;
	background: url(https://farm8.staticflickr.com/7898/47085590142_8cf6652f53_o.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation-delay: -5s;
	animation: animate 20s linear infinite;

}


/*Welcome*/
.welcome 
{
	top: 0;
	background: #000;
	min-height: 55vh;
	padding-top: 45vh;
}

#welcome-section
{
	text-align: center;
	color: white;
}

p#bio
{
	padding: 10px;
}


/*Projects*/
#projects, #achievements
{
	padding: 100px 40px 100px 65px;
}

#android, #ror, #spring, #responsive-web
{
	padding: 25px 20px 50px 20px;
}

#projects-title, #achievements-title
{
	margin-bottom: 15px;
}

.project-tile
{
	text-decoration: none;
	color: #000;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	border: 2px solid black;
	transition: transform .2s;
	height: 220px;
	width: 325px;
	margin: 30px 50px 30px 45px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.39), 0 10px 10px rgba(0,0,0,0.23);
}

.project-tile:hover
{
	transform: scale(1.15);
}



.project-img
{
	display: block;
	max-width: 100%;
}

#profile-link
{
	border: 2px;
	border-style: solid;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	width: 150px;
	margin: 20px auto 85px;

}

.project 
{
	text-decoration: none;
	color: #008080;
	display: inline-block;
	overflow: hidden;
	border: 2px solid lightblue;
	height: 220px;
	width: 280px;
	margin: 40px 100px;
}

.project-pic 
{
	width: 100%;
	height: 180px;
	border-bottom: 2px solid lightblue;
}

.project-title 
{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	border: 2px solid black;
	height: 225px;
	width: 300px;
	margin: 30px 50px 30px 45px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.39), 0 10px 10px rgba(0,0,0,0.23);
}

.show-all 
{
	text-decoration: none;
	display: block;
	width: 200px;
	height: 30px;
	margin: 50px auto 90px;
	background: #e0ebe8;
	color: #008080;
	font-weight: bold;
	font-size: 1em;
	border: 2px solid #90C695;
	border-radius: 4px;
	cursor: pointer;
	padding-top: 10px;
}

.show-all:hover 
{
	background: #E4F1FE;
	color: green;
}	


/*Social*/
@keyframes animate
{
	0%
	{
		background-position: 0;
	}

	100%
	{
		background-position: 1360px;
	}
}

@keyframes animate-reverse
{
	0%
	{
		background-position: 1360px;
	}

	100%
	{
		background-position: 0;
	}
}

#contact
{
	height: 200px;
	padding: 100px;
}

#social
{
	display: flex;
	margin-top: 70px;	
	align-items: center;
	justify-content: center;
}

#social ul
{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
}

#social ul li
{
	position: relative;
	list-style: none;
	width: 50px;
	height: 50px;
	margin: 0 30px;
	transform: rotate(-30deg) skew(25deg);
	background: #ccc;

}

#social ul li span
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: 0.5s;
	display: flex;
	animation-name: social;
  	animation-duration: 8s;
  	animation-iteration-count: infinite;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 30px;

}

ul li:hover span
{
	box-shadow: -1px 1px 1px rgb(0, 0, 0);
}

ul li:hover span:nth-child(5)
{
	transform: translate(40px, -40px);
	opacity: 1;
}

ul li:hover span:nth-child(4)
{
	transform: translate(30px, -30px);
	opacity: .8;
}

ul li:hover span:nth-child(3)
{
	transform: translate(20px, -20px);
	opacity: .6;
}

ul li:hover span:nth-child(2)
{
	transform: translate(10px, -10px);
	opacity: .4;
}

ul li:hover span:nth-child(1)
{
	transform: translate(0,0);
	opacity: .2;
}

/*Footer*/
footer
{
	background-color: #000;
	color: #999999;
	text-align: center;
	padding: 15px;
}



/*Queries*/
@media (max-width: 800px) 
{ 
	h1
	{
		font-size: 30px;
	}

	h2
	{
		font-size: 25px;
	}

	h3
	{
		font-size: 20px;
		padding: 15px;
	}
}

@media (max-width: 550px) 
{ 
	nav ul 
	{
		padding: 10px 0px 0px 0px;
	}

	nav ul li 
	{
		margin: 10px 15px 10px 10px;
	}

	#social
	{
		margin-top: 40px;
	}

	#social ul li
	{
		margin: 0 30px;
	}

	#projects, #achievements
	{
		padding: 100px 0px 100px 0px;
	}

	.project-tile
	{
		height: 200px;
		width: 300px;
		margin: 15px 5px 15px 3px;
	}


	#about-me
	{
		margin-top: -20%;
		padding: 3%;
	}
}

@media (max-width: 375px) 
{ 

	#about-me
	{
		margin-top: -35%;
		padding: 1%;
	}

	#social
	{
		margin-top: 20px;
	}

	#social ul li
	{
		width: 45px;
		height: 45px;
		margin: 0 25px;
	}

	#social ul li span
	{
		font-size: 25px;
	}

}

@media (max-height: 770px) 
{ 	

	#social ul
	{
		margin-bottom: 5%;

	}


	#social ul li span
	{
		animation-name: social;
	  	animation-duration: 8s;
	  	animation-iteration-count: infinite;
	}

	.wave
	{
		display: none;
	}


	@keyframes social
	{
		0%
		{	
			transform: translate(0,0);
			opacity: .2;
		}

		50%
		{
			transform: translate(15px, -15px);
			opacity: 1;
		}


		100%
		{	
			transform: translate(0,0);
			opacity: .2;
		}
	}

}

@media (max-width: 320px) 
{ 

	#about-me
	{
		margin-top: -50%;
	}

}